In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
#help(pd.Series)

In [4]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [1776, 1876, 1821]
myser = pd.Series(data = mydata, index = myindex)
myser

USA       1776
Canada    1876
Mexico    1821
dtype: int64

In [5]:
type(myser)

pandas.core.series.Series

In [6]:
myser[0]

1776

In [7]:
myser['USA']

1776

In [8]:
ages = {'Sam': 5, 'Frank': 10, 'Spike': 7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [9]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [10]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [11]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [12]:
sales_q1[0]

80

In [15]:
sales_q1['Japan']

80

In [14]:
sales_q1.index

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [16]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [17]:
[1, 2] * 2

[1, 2, 1, 2]

In [18]:
np.array([1, 2] * 2)

array([1, 2, 1, 2])

In [19]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [20]:
sales_q1 / 2

Japan     40.0
China    225.0
India    100.0
USA      125.0
dtype: float64

In [21]:
print(sales_q1, sales_q2)

Japan     80
China    450
India    200
USA      250
dtype: int64 Brazil    100
China     500
India     210
USA       260
dtype: int64

In [22]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [23]:
sales_q1.add(sales_q2)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [27]:
first_half = sales_q1.add(sales_q2, fill_value = 0)
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [26]:
sales_q1.dtype

dtype('int64')

In [28]:
first_half.dtype

dtype('float64')

In [29]:
pd.Series(first_half, dtype=int)

Brazil    100
China     950
India     410
Japan      80
USA       510
dtype: int64

In [32]:
sales_q1.fillna(0).add(sales_q2.fillna(0)) # NaN이 변경되지 않음

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64